body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd699; /* Pastel orange background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.vote-form {
    margin-top: 20px;
}

.yes-button, .no-button {
    background-color: #ff8c1a; /* Complimentary color */
    color: white;
    padding: 15px 30px; /* Larger padding for larger buttons */
    font-size: 18px; /* Larger font size */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yes-button:hover, .no-button:hover {
    background-color: #e08000; /* Darker shade on hover */
}

